[Desktop Entry]
Version=1.0
Categories=Application;
Name=SelekTOR
Comment=Tor Exit Node Selection and Proxying
Comment[fr]=Sélection des noeuds de sortie TOR et du mandataire
Exec=selektor --cleanup --start-delay 5
Icon=selektor.png
StartupNotify=false
Terminal=false
Type=Application
Keywords=network;tor
